@import '../../styles/variables.scss';
@import "../../styles/responsive.scss";

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info {
        text-align: center;
        margin: 20px 0;

        h1 {
            margin-bottom: 10px;
        }
    }

    .sections {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
        gap: 10px;

        @include xxl {
            flex-direction: column;
        }

        .calendar {
            width: 50%;

            @include xxl {
                width: 100%;
            }

            .fc-toolbar {
                display: flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;

                @include sm {
                    justify-content: center;
                }
            }

            .fc-toolbar-chunk {
                justify-content: center;
                align-items: center;
                display: flex;
                text-align: center;
                flex-wrap: wrap;
                gap: 10px;


                &:nth-child(2) {
                    @include lg {
                        width: 100%;
                        order: 1;
                    }
                    
                }
                
                &:last-child {
                    justify-content: end;
                    @include lg {
                        order: 2;
                    }
                    @include sm {
                        justify-content: center;
                    }
                }

                &:first-child {
                    justify-content: start;
                    @include lg {
                        order: 3;
                    }
                    @include sm {
                        justify-content: center;
                    }
                }
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 50%;
            height: 100%;

            @include xxl {
                width: 100%;
            }

            
            .buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 30px;
            }

            .results {
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            .position {
                h5 {
                    font-weight: bold;
                    margin-bottom: 5px;
                    font-size: 1.1rem;
                }
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 30px;
                gap: 5px;
            }
        }
        
    }

}