@import "../../styles/responsive.scss";

.room {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info {
        text-align: center;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .btn {
            padding: 10px 20px;
            border-radius: 5px;
            background-color: rgb(233, 18, 18);
            color: white;
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));

            &:hover {
                background-color: rgb(207, 16, 16);
                filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
            
            }
        }
    }

    .fc-toolbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        @include sm {
            justify-content: center;
        }
    }

    .fc-toolbar-chunk {
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;


        &:nth-child(2) {
            @include lg {
                width: 100%;
                order: 1;
            }
            
        }
        
        &:last-child {
            justify-content: end;
            @include lg {
                order: 2;
            }
            @include sm {
                justify-content: center;
            }
        }

        &:first-child {
            justify-content: start;
            @include lg {
                order: 3;
            }
            @include sm {
                justify-content: center;
            }
        }
    }

    .taken.projet {
        background-color: #8e0000 !important;
    }
    
    .taken.cours {
        background-color: red !important;
    }
    
    .taken.exercice {
        background-color: #b51f1f !important;
    }
    
    .taken.event {
        background-color: #5B248F !important;
    }

    .fc-event {
        padding: 5px;
    }

}