@import "../../styles/responsive.scss";

.room {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info {
        text-align: center;
        margin: 20px 0;

        h1 {
            margin-bottom: 10px;
        }
    }

    .fc-toolbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        @include sm {
            justify-content: center;
        }
    }

    .fc-toolbar-chunk {
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;


        &:nth-child(2) {
            @include lg {
                width: 100%;
                order: 1;
            }
            
        }
        
        &:last-child {
            justify-content: end;
            @include lg {
                order: 2;
            }
            @include sm {
                justify-content: center;
            }
        }

        &:first-child {
            justify-content: start;
            @include lg {
                order: 3;
            }
            @include sm {
                justify-content: center;
            }
        }
    }

    .taken.projet {
        background-color: #8e0000 !important;
    }
    
    .taken.cours {
        background-color: red !important;
    }
    
    .taken.exercice {
        background-color: #b51f1f !important;
    }
    
    .taken.event {
        background-color: #5B248F !important;
    }

    .fc-event {
        padding: 5px;
    }

}