.studyplan {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .breadcrumbs {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .info {
        text-align: center;
        margin: 20px 0;
        h1 {
            margin-bottom: 10px;
        }
    }

    .taken.projet {
        background-color: #8e0000 !important;
    }
    
    .taken.cours {
        background-color: red !important;
    }
    
    .taken.exercice {
        background-color: #b51f1f !important;
    }
    
    .taken.event {
        background-color: #5B248F !important;
    }

    .fc-event {
        padding: 5px;
    }
    .fc-event-main {
        display: flex;
        flex-direction: column;

        .rooms {
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            height: 100%;

            .room {
                background-color: white;
                color: black;
                border-radius: 5px;
                width: fit-content;
                padding: 5px;
                min-width: 34px;
            }

        }
    }

    .fc-toolbar {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .fc-toolbar-chunk {
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;

        &:last-child {
            justify-content: end;
            margin-left: 20px;
        }

        &:first-child {
            justify-content: start;
            margin-right: 20px;
        }
    }
}