@import '../../styles/responsive.scss';

.course {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info {
        text-align: center;
        margin: 20px 0;

        h1 {
            margin-bottom: 10px;
        }

        .details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: start;
            gap: 30px;
            margin-top: 30px;

            @include md {
                flex-direction: column;
                align-items: start;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 5px;

                & > :first-child {
                    font-weight: bold;
                }
                
            }

            .teachers {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 5px;

                .teacher {
                    background-color: black;
                    color: white;
                    display: flex;
                    width: fit-content;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }

    .taken.projet {
        background-color: #8e0000 !important;
    }

    .taken.cours {
        background-color: red !important;
    }

    .taken.exercice {
        background-color: #b51f1f !important;
    }

    .taken.event {
        background-color: #5B248F !important;
    }



    .fc-event {
        padding: 5px;
    }
    .fc-event-main {
        display: flex;
        flex-direction: column;

        .rooms {
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            height: 100%;

            .room {
                background-color: white;
                color: black;
                display: flex;
                width: fit-content;
                padding: 5px;
                border-radius: 5px;
            }

        }
    }

    .icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: none;
        padding: 10px;

        img {
            width: 20px;
            height: 20px;
            border-radius: 0;
            object-fit: contain;
            background: none;
        }
    }
}