@import '../../styles/responsive.scss';

.course {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info {
        text-align: center;
        margin: 20px 0;
        width: 100%;

        h1 {
            margin-bottom: 10px;
        }

        .details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: start;
            gap: 30px;
            margin-top: 30px;

            @include md {
                flex-direction: column;
                align-items: start;
            }

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 5px;

                & > :first-child {
                    font-weight: bold;
                }
                
            }

            .teachers {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 5px;
            }

            .MuiChip-root {
                box-shadow: rgba(0,0,0, 0.4) 1px 1px 2px;
            }
        }
    }

    .taken.projet {
        background-color: #8e0000 !important;
    }

    .taken.cours {
        background-color: red !important;
    }

    .taken.exercice {
        background-color: #b51f1f !important;
    }

    .taken.event {
        background-color: #5B248F !important;
    }



    .fc-event {
        padding: 5px;
    }
    .fc-event-main {
        display: flex;
        flex-direction: column;

        .rooms {
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            height: 100%;

            .room {
                background-color: white;
                color: black;
                display: flex;
                width: fit-content;
                padding: 5px;
                border-radius: 5px;
            }

        }
    }

    .fc-toolbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        @include sm {
            justify-content: center;
        }
    }

    .fc-toolbar-chunk {
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        gap: 10px;


        &:nth-child(2) {
            @include lg {
                width: 100%;
                order: 1;
            }
            
        }
        
        &:last-child {
            justify-content: end;
            @include lg {
                order: 2;
            }
            @include sm {
                justify-content: center;
            }
        }

        &:first-child {
            justify-content: start;
            @include lg {
                order: 3;
            }
            @include sm {
                justify-content: center;
            }
        }
    }


    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 30px;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
            
        }

        .studyplans {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            align-items: end;
            gap: 5px;
            margin-top: 30px;
            min-width: 300px;

            .studyplans-list {
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: start;
                gap: 10px;
                width: 100%;

                .studyplan {
                    background-color: rgb(250, 250, 250);
                    display: flex;
                    width: 100%;
                    padding: 8px 20px;
                    border-radius: 5px;
                    align-items: end;
                    gap: 1px;
                    box-shadow: #979797 2px 2px 0px;
                    transition: transform 0.05s, box-shadow 0.05s;
                    filter: drop-shadow(0px 0px 1px #000000);

                    &:hover {
                        transform: translate(2px);
                        box-shadow: #094c66 0px 0px 0px;
                    }

                    hr {
                        width: 100%;
                        margin: 5px 0;
                        border: 1px solid rgb(0, 0, 0, 0.3);
                    }

                    .unit-name {
                        font-weight: bold;
                        color: rgb(32, 32, 32);
                    }

                    .unit-promo {
                        font-weight: normal;
                        font-style: italic;
                        color: rgb(66, 66, 66);
                    }
                }
            }
        }
    }
}