.courses {

    width: 100%;
    display: flex;
    flex-direction: column;

    .breadcrumbs {
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .info {
        text-align: center;
        
        h1 {
            margin-bottom: 20px;
        }
    }
}