@import "../../styles/variables.scss";

.dataTable {
    height: 100%;
    
    .dataGrid {
        background-color: white;
        padding: 20px;

        .btn {
            padding: 7px;
        }

        .MuiDataGrid-toolbarContainer {
            justify-content: space-between;

            .tools {
                display: flex;
                gap: 10px;
            }

        }

        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
            object-fit: cover;
        }

        .action {
            display: flex;
            gap: 15px;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }

        }
    }
}